<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tacomall.common.mapper.org.OrgStaffMapper">

    <resultMap id="orgStaffPage" type="com.tacomall.common.vo.base.PaginatorVo">
        <id property="id" column="id"></id>
    </resultMap>

    <resultMap id="orgStaff" type="com.tacomall.common.entity.org.OrgStaff">
        <id property="id" column="id"></id>
        <result property="jobId" column="job_id"></result>
        <result property="deptId" column="dept_id"></result>
        <result property="isAdmin" column="is_admin"></result>
        <result property="username" column="username"></result>
        <result property="nickname" column="nickname"></result>
        <result property="passwd" column="passwd"></result>
        <result property="status" column="status"></result>
        <result property="isDelete" column="is_delete"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="deleteTime" column="delete_time"></result>
        <result property="role" column="role"></result>
    </resultMap>

    <select id="queryPage" resultMap="orgStaff">
        SELECT *
        FROM org_staff
        ${ew.customSqlSegment}
    </select>

    <select id="queryInfo" resultMap="orgStaff">
        SELECT *
        FROM org_staff
        ${ew.customSqlSegment}
    </select>

    <select id="queryListByMap" parameterType="hashMap" resultMap="orgStaffPage">
        SELECT *
        FROM org_staff
        <where>
            <if test="orgStaffIds != null  and orgStaffIds != ''"> id IN ( ${orgStaffIds}) AND </if>
        </where>
        is_delete = 0
    </select>

</mapper>